<div id="helper" class="invisible vhcenter frontCard verticalFlex tenPadding"> 
        <p class="mediumText"> <%= title %> </p>
        <p id="helperTextArea" class="coolInputBox hcenter" style="width:90%;height:50%" readonly>Opa, eu to aqui mano!</p>
        <button class="disabledMyButton hcenter" disabled>Ok</button>
</div>