<aside>
    <div class="sidebar verticalFlex">
        <h1 class="textCentered"> Meutube </h1>
        <ul>
            <li> <%- include('./sidebarItem', {title: "Home" , image: "/icons/home.png" , alt: "Casa" ,
                    link:"http://localhost:3000/"}) %>
            </li>
            <li> <%- include('./sidebarItem', {title: "Estúdio" , image: "/icons/video.png" , alt: "Estúdio" ,
                    link:"http://localhost:3000/studio"}) %>
            </li>
            <li> <%- include('./sidebarItem', {title: "Publicar" , image: "/icons/video.png" , alt: "Estúdio" ,
                    link:"http://localhost:3000/studio/publish"}) %>
            </li>
            <li> <%- include('./sidebarItem', {title: "Meu canal" , image: "/icons/person.png" , alt: "Canal" ,
                    link:"http://localhost:3000/channel/"}) %>
            </li>



        </ul>

    </div>
</aside>
