<div class="sidebar verticalFlex">

    <%- include('./sidebarItem', {title: "Home" , image: "" , alt: "Casa" , link:"http://localhost:3000/"}) %>
        <%- include('./sidebarItem', {title: "Publicar" , image: "" , alt: "Vídeo" ,
            link:"http://localhost:3000/studio/publish"}) %>
            <%- include('./sidebarItem', {title: "Meu canal" , image: "" , alt: "Canal" , link:"http://localhost:3000/channel/"}) %>

</div>

<script>

    const sidebarButtons = document.querySelectorAll("#sidebarButton")

    sidebarButtons.forEach((button) => {
        button.addEventListener("click", function () {
            window.location.href = button.dataset.link

        })
    })

</script>