<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Logando no canal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/inputs.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/containers.css" />
    <link rel="stylesheet" href="/stylesheets/positioning.css" />
    <link rel="stylesheet" href="/stylesheets/sizing.css" />
    <script src="/javascripts/reWelcomer.js"> </script>

</head>


<body class="staticBody">
    <div class="smallVerticalGreyRectangle vhcenter verticalFlex">

        <p class="highishText textCentered subtlePadding"> Entre no seu canal</p>

        <div class="hcenter verticalFlex mainGreyRectangle" style="row-gap: 4%;">
            <input id="name" class="coolInputBox hcenter halfWidth" type="text" placeholder="Insira seu nome">
            <input id="password" class="coolInputBox hcenter halfWidth" type="password" placeholder="Insira sua senha">
            <p id="infoText" class="mediumText textCentered redText"> </p>
        </div>

        <button id="login" class="disabledMyButton hcenter downMargin"> Entrar </button>


    </div>

</body>

</html>