<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Publicar um vídeo</title>
    <link rel="icon" href="/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/inputs.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
    <link rel='stylesheet' href='/stylesheets/videoing.css' />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <script src="/javascripts/publishingVideo.js"> </script>
    <style>
        html,
        body {
            height: 100vh;
            margin: 0;
            font-family: Verdana;
            background-color: #adff2f;
        }

        .backgroundFrame {

            position: absolute;

            top: 5%;
            left: 5%;

            display: block;
            width: 90%;
            height: 90%;
            background-color: #333333;
            margin: auto;

            border-radius: 8px;

        }
    </style>
</head>


<body>

    <div class="backgroundFrame">
        <div id="workshop" style="margin-right:auto; width:50%;padding:20px;display:flex;flex-direction: column;row-gap: 3vh;max-height: 100%;overflow-y: hidden;">
            <p class="highishText" style="padding:0;margin: 0;"> Publique seu vídeo </p>
            <textarea id="title" placeholder="Título do vídeo" class="inputBox"></textarea>
            <textarea id="description" placeholder="Descrição do vídeo" class="inputBox"></textarea>
            
            <div>
                <p class="lowText"> Selecione temas que representem o vídeo (máx: 3)</p>
                <div id="tagBox" class="inputBox" style="display:flex;column-gap: 5px;row-gap:5px;flex-wrap:wrap;overflow-y:auto;aspect-ratio: 3/1;width:40%;">

                    <button class="disabledTagButton"> Jogos </button>
                    <button class="disabledTagButton"> Maquiagem </button>
                    <button class="disabledTagButton"> Gamedev </button>
                    <button class="disabledTagButton"> Programação </button>
                    <button class="disabledTagButton"> Educativo </button>
                    <button class="disabledTagButton"> Biologia </button>
                    <button class="disabledTagButton"> Esportes </button>
                    <button class="disabledTagButton"> Experimental </button>
                    <button class="disabledTagButton"> Culinária </button>
                    <button class="disabledTagButton"> Vlogs </button>
                    <button class="disabledTagButton"> Reacts </button>
                    <button class="disabledTagButton"> Animes </button>
                    <button class="disabledTagButton"> Filmes </button>
                </div>
            </div>




            <div>

                <p class="lowText"> Selecione uma thumbnail </p>
                <input id="thumbnailFile" type="file" accept="image/*" alt="Selecione a Thumbnail" class="inputBox">
                <p class="lowText"> Selecione um vídeo </p>
                <input id="videoFile" class="inputBox" type="file" accept="video/mp4" placeholder="Vídeo">


            </div>

        </div>



        <div style="position:absolute; left:63.5%;top:5%;aspect-ratio:16/9;width:25%">
            <button class="invisibleFill">
                <img class="thumbnail">
                <p class="videoCardTitle"> <span class="channelTitle" style="color: #adff2f"> vc </span>: <span id="videoTitle"> título do vídeo </span></p>
                <p class="lowText"> 0 Visualizações </p>
            </button>

        </div>

        <button class="myButton" style="position:absolute;bottom:3%;right:3%"> Publicar </button>

    </div>
</body>

</html>