<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Publicar um vídeo</title>
    <link rel="icon" href="/favicon.ico">
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/inputs.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/containers.css" />
    <link rel="stylesheet" href="/stylesheets/positioning.css" />
    <link rel="stylesheet" href="/stylesheets/sizing.css" />
    <script src="/javascripts/publishingVideo.js"> </script>
    <style>
        html,
        body {
            height: 100vh;
            margin: 0;
            font-family: Verdana;
            background-color: #adff2f;
        }
    </style>
</head>


<body>
    <div class="smallVerticalGreyRectangle vhcenter verticalFlex">

        <p class="mediumText textCentered subtlePadding"> Crie seu canal</p>

        <div class="hcenter verticalFlex mainGreyRectangle" style="row-gap: 4%;">
            <input class="coolInputBox hcenter halfWidth" type="text" placeholder="Insira um nome">
            <input class="coolInputBox hcenter halfWidth" type="password" placeholder="Insira uma senha">
                <input class="colorInputBox hcenter square" type="color" placeholder="Escolha uma cor para seu canal">
                <p class="lowText textCentered"> Escolha uma cor para seu canal</p>

        </div>

        <button class="myButton hcenter downMargin"> Criar canal </button>


    </div>

</body>

</html>