<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <title>Criar um canal</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/inputs.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
    <link rel="stylesheet" href="/stylesheets/common.css" />
    <link rel="stylesheet" href="/stylesheets/containers.css" />
    <link rel="stylesheet" href="/stylesheets/positioning.css" />
    <link rel="stylesheet" href="/stylesheets/sizing.css" />
    <script src="/javascripts/welcomer.js"> </script>

</head>


<body class="staticBody">
    <div class="smallVerticalGreyRectangle vhcenter verticalFlex">

        <p class="highishText textCentered subtlePadding zeroVerticalMargin"> Crie seu canal</p>

        <div class="hcenter verticalFlex mainGreyRectangle" style="row-gap: 5%;justify-content: start;align-items: center;">
            <input id="name" class="coolInputBox halfWidth" type="text" placeholder="Insira um nome">
            <p class="textCentered lowText negativeVerticalMargin" > </p>
            <input id="password" class="coolInputBox halfWidth" type="password" placeholder="Insira uma senha">
            <input id="color"class="colorInputBox square" type="color" placeholder="Escolha uma cor para seu canal">
            <p class="lowText textCentered" style="margin-top: -5%;"> Escolha uma cor para seu canal</p>
            <p id="infoText" class="mediumText textCentered redText"> </p>
        </div>

        <button id="create" class="myButton hcenter downMargin"> Criar canal </button>


    </div>

</body>

</html>