<!DOCTYPE html>
<html>

<head>
  <title>
    Seu estúdio
  </title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/texting.css' />
  <link rel='stylesheet' href='/stylesheets/videoing.css' />
  <link rel='stylesheet' href='/stylesheets/containers.css'>
  <link rel='stylesheet' href='/stylesheets/positioning.css'>
  <link rel='stylesheet' href='/stylesheets/imaging.css'>
  <link rel='stylesheet' href='/stylesheets/inputs.css'>
  <script src="/javascripts/videoCardActivator.js">  </script>
</head>

<body class="staticBody">
  <div class="horizontalFlex">

    <%- include('./partials/sidebar') %>
      <main class="main">

        <p class="textCentered highText">
          Seu estúdio
        </p>
        <div class="videoSlider hcenter">

          <% for(var i=0; i<videoCardInfos.length; i++) {%>
            <a href="/studio/change/<%= videoCardInfos[i].videoId %>">
              <%- include('./partials/videocard', videoCardInfos[i]) %>
            </a>


            <% } %>

        </div>

      </main>

  </div>

</body>

</html>