<!DOCTYPE html>
<html>

<head>
  <title>Theater</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="/javascripts/stage.js">  </script>
</head>

<body>

  <div style="display: flex; flex-direction: row;justify-content: space-around;">

    <video class="video"> </video>

    <div style="background-color: #444444; border-radius: 8px;width:25%">
      <p class="highishText" ; style="padding-left: 10px;text-align: left;"> Título do vídeo
        manoooo </p>
      <p class="mediumText textPadding"> Por: [nome do canal]</p>


      <div style="display: flex;flex-direction: row; align-items: baseline;">
        <p class="lowText textPadding"> 40000000 Visualizações</p>

        <div class="textCentered" style="margin-top: 30px;margin-bottom: 60px;">

          <button class="reactionButtonOff" id = "like" title="Eu gostei desse vídeo!">
            <img alt="❤️">
          </button>

          <button class="reactionButtonOff" id = "please" title="Eu quero que outras pessoas vejam esse vídeo!">
            <img alt="📣">
          </button>

          <button class="reactionButtonOff" id="dislike" title="Não gostei desse vídeo!">
            <img alt="💔">
          </button>

        </div>

      </div>

      <p class="mediumText textPadding textCentered"> Descrição do vídeo: </p>

      <div class="videoDescriptionContainer textPadding">
        <p class="limitedText text textVerticalPadding"> Essda daqui fdsiafjcosdicjnuioasdunasduicvnasuicniaosudnfiucsaudncuasuip9iodcioasdo
        </p>

      </div>

    </div>

  </div>

  <button class="returnButton textCentered"> Ver mais vídeos </button>

</body>

</html>