<!DOCTYPE html>
<html>

<head>
  <title>Theater</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/texting.css' />
  <link rel='stylesheet' href='/stylesheets/inputs.css' />
  <link rel='stylesheet' href='/stylesheets/positioning.css' />
</head>

<body>
  <h1 class="errorText"> 401 </h1>
  <p class="mediumText textCentered">Você não está autorizado a acessar essa página .</p>
  <div class = "vhcenter">

    <button id="signin" class="myButton hcenter"> Trocar de conta</button>


  </div>

  <script>
    const signinButton = document.querySelector("#signin")
    signinButton.addEventListener("click", function () {
      window.location.href = "http://localhost:3000/gate/signin"
    })

  </script>

</body>

</html>