<!DOCTYPE html>
<html>

<head>
  <title>Theater</title>
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <link rel='stylesheet' href='/stylesheets/texting.css' />
  <link rel='stylesheet' href='/stylesheets/inputs.css' />
  <link rel='stylesheet' href='/stylesheets/positioning.css' />
</head>

<body>
  <h1 class="errorText"> 401 </h1>
  <p class="mediumText textCentered">Você precisa estar logado para usar esse recurso.</p>
  <div class = "vhcenter">

    <button id="login" class="myButton hcenter"> Logar </button>
    <button id="signin" class="myButton hcenter"> Criar canal</button>


  </div>

  <script>
    const loginButton = document.querySelector("#login")
    loginButton.addEventListener("click", function () {
      window.location.href = "http://localhost:3000/gate/login"
    })

    const signinButton = document.querySelector("#signin")
    signinButton.addEventListener("click", function () {
      window.location.href = "http://localhost:3000/gate/signin"
    })

  </script>

</body>

</html>