<!DOCTYPE html>
<html>
  <head>
    <title>Theater</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <link rel='stylesheet' href='/stylesheets/texting.css' />
  </head>
  <body>
      <h1 class="errorText"> 404 </h1>
      <p class="text textCentered">Video not found, did you enter a broken url?</p>
  </body>
</html>
