.mainGreyRectangle {

    width: 90%;
    height: 90%;
    background-color: #333333;
    border-radius: 8px;

}

.smallVerticalGreyRectangle {
    display: block;
    aspect-ratio: 3/4;
    width: 20%;
    background-color: #333333;

    border-radius: 8px;

}

.verticalFlex {
    display: flex;
    flex-direction: column;
}

.horizontalFlex {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.staticBody {
    height: 100vh;
    overflow: hidden;
    margin: 0;
    padding: 0
}

.sidebar {
    position: fixed;
    left:0;
    top: 0;
    height: 100%;
    width: 15%;
    margin-right: auto;
    background-color: #131313;
}

.sidebarItem {
    width: 100%;
}

.rounded {
    border-radius: 8px;
}

.smallGap {
    column-gap: 5px;
    row-gap: 2px;
}

.invisible {
    display: none;
}

.frontCard {
    aspect-ratio: 5/3;
    width: 500px;
    max-width: 60%;
    background-color: #333333;
    border-radius: 9px;

    outline-color: rgb(0,0,0,.6);
    outline-width: 100vw;
    outline-style: solid;
}