.icon {
    aspect-ratio: 1/1;
    max-width: 32px;
    height: 32px;
    width: 32px;
    display: block;
    object-fit: contain;
    flex-shrink: 0;
}

.thumbnail {
    
  aspect-ratio: 16/9;
  width: 100%;
  display: block;
  border-radius: 8px;

}