.inputBox {
  padding: 5px;
  color: #ffffff;
  background-color: #222222;
  border-style: solid;
  border-radius: 4px;
}

.inputBox:hover{
  background-color: #111111;
}

.inputBox:focus-visible{
  outline-style: solid;
  outline-color: chartreuse;
  outline-width: 2px;
}

.coolInputBox {
  padding: 15px;
  font-size: medium;
  color: #ffffff;
  background: #222222;
  border-style: solid;
  border-radius: 4px;
}

.coolInputBox:hover {
  background-color: #111111;
}

.coolInputBox:focus-visible {
  outline-style: solid;
  outline-color: chartreuse;
  outline-width: 2px;
}

.colorInputBox {
  background-color: #222222;
  border-style: solid;
  border-width: 1px;
  border-radius: 8px;
}

.myButton {
  background-color: chartreuse;
  color: black;
  border-style: none;
  border-radius: 4px;
  aspect-ratio: 16/9;
  width: 80px;
  cursor: pointer;
}

.myButton:hover {
  background-color: rgb(27, 155, 0);
}

.disabledMyButton {
  background-color: #777777;
  color: black;
  border-style: none;
  border-radius: 4px;
  aspect-ratio: 16/9;
  width: 80px;
  cursor: not-allowed
}

.disabledTagButton {
  border-style: solid;
  border-radius: 4px;
  height: 2em;
  color: #ffffff;
  background-color: #222222;
  cursor: pointer;
}

.enabledTagButton {
  border-style: none;
  border-radius: 4px;
  height: 2em;

  color: #222222;
  cursor: pointer;
}

.expandButton {

  color: #ffffff;
  background-color: rgb(0, 0, 0, 0);
  border-style: none;
  font-weight: bold;
  font-size: medium;
  cursor: pointer;
}

.returnButton {

  display: block;
  background-color: chartreuse;
  border-style: none;
  border-radius: 8px;
  margin-top: 50px;
  width: auto;
  height: 40px;
  font-size: 1em;
  cursor: pointer;

}

.reactionButtonOff {
  border-radius: 100%;
  aspect-ratio: 1/1;
  border-style: none;
  background-color: #777777;
  font-size: 100%;
  width: 40px;
  cursor: pointer;
}

.reactionButtonOn {
  border-radius: 100%;
  aspect-ratio: 1/1;
  border-style: none;
  background-color: #999999;
  font-size: 100%;
  width: 40px;
  cursor: pointer;
}

.invalidInput {
  border-color: rgb(180, 37, 37);
}