.vhcenter {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hcenter {
    margin-left: auto;
    margin-right: auto
}

.subtlePadding {
    padding: 5%
}

.zeroPadding {
    padding: 0;
}

.downMargin{
    margin-bottom: 30px;
}

.zeroVerticalMargin {
    margin-top: 0;
    margin-bottom: 0; 
}

.negativeVerticalMargin {
    margin-top: -12px;
    margin-bottom: -12px;
}

.zeroBottomMargin {
    margin-bottom: 0;
}

.zeroHorizontalMargin {
    margin-left: 0;
    margin-right: 0;
}

.horizontalPadding {
    padding-left: 10px;
    padding-right: 10px;
}

.tenPadding {
    padding: 10px;
}