.video {

  display: block;
  aspect-ratio: 16/9;
  width: 70%;
  border-style: groove;

}

.thumbnail {
  aspect-ratio: 16/9;
  width: 100%;
  margin-top: 0;
  padding-top: 0;
  display: block;
  border-radius: 8px;
}

.videoCardContainer {
  width: 95%;
  height: auto;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px 15px;

  margin: 75px 0px 75px;
}

.videoDescriptionContainer {
  margin-top: 30px;
  margin-left: 10px;
  margin-right: 10px;
  overflow-y: scroll;
  background-color: #111111;
  border-radius: 8px;
  
}